# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db